{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Emp DB app</title>
    <meta name=”description” content="Sample Employee DB app written on Django/DRF/VueJS/BS">
    <meta name=”keywords” content="django, drf, vuejs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Spinner -->
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
    <!-- Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">

  </head>
  <body>
    <div id="app">


      <div class="container container-fluid">
          <!-- NAVIGATION -->
          <nav class="navbar navbar-expand navbar-light bg-light" style="">
              <a class="navbar-brand" href="#"><img height="20" src="{% static 'img/user.png' %}"> Emp DB</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">List of employees</a>
                  </li>


                </ul>
                <ul class="navbar-nav pull-right">
                  <li class="nav-item disabled pull-right">
                    <a class="nav-link disabled">Logged  in as: {{ request.user.username }}</a>
                  </li>
                </ul>

                <a href="{% url 'logout' %}" class="btn btn-info">Logout</a>
              </div>
        </nav>


        <!-- CONTENT -->
        <div class="row" style="margin-top: 15px;">
          <div class="col">
              <h1>
                List of Employees
                <button class="btn btn-success" data-toggle="modal" data-target="#addEmpModal">ADD Employee</button>
              </h1>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th>First name</th>
                    <th>Second name</th>
                    <th>BD</th>
                    <th>Dept</th>
                    <th>Project</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="emp in emps">
                    <th scope="row">${ emp.emp_number }</th>
                    <td>${ emp.first_name }</td>
                    <td>${ emp.second_name }</td>
                    <td>${ emp.birth_date }</td>
                    <td><span v-if="emp.department">${ emp.department.name }</span></td>
                    <td><span v-if="emp.department">${ emp.department.project.name }</span></td>
                    <td style="white-space: nowrap;">
                      <button class="btn btn-info" v-on:click="getEmp(emp)">Edit</button>
                      <button class="btn btn-danger" v-on:click="delEmp(emp)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>

        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading...</div>



      <!-- Add Employee Modal -->
      <div class="modal fade" id="addEmpModal" tabindex="-1" role="dialog" aria-labelledby="addEmpModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addEmpModalTitle">Add new Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form v-on:submit.prevent="addEmp()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="emp_number">Employee Number</label>
                      <input
                        type="text"
                        class="form-control"
                        id="emp_number"
                        placeholder="Enter Employee Number"
                        v-model="newEmp.emp_number"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="first_name">First Name</label>
                      <input
                        class="form-control"
                        id="first_name"
                        placeholder="Enter First name"
                        v-model="newEmp.first_name"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="second_name">Second Name</label>
                      <input
                        class="form-control"
                        id="second_name"
                        placeholder="Enter Second name"
                        v-model="newEmp.second_name"
                        required="required" >
                    </div><div class="form-group">
                      <label for="bd">Birth Date</label>
                      <input
                        class="form-control datepicker"
                        id="bd"
                        placeholder="Enter BD"
                        v-model="newEmp.birth_date"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="department">Department</label>
                      <select class="form-control" id="department" v-model="newEmp.department">
                          <option v-for="d in depts" v-bind:value="d">${d.name} of ${d.project.name}</option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
          </div>
        </div>
       <div class="loading" v-if="loading===true">Loading...</div>
      </div>
      <!-- End of add emp modal -->


      <!-- EDIT Employee Modal -->
      <div class="modal fade" id="editEmpModal" tabindex="-1" role="dialog" aria-labelledby="editEmpModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editEmpModalTitle">Edit Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form v-on:submit.prevent="editEmp(currentEmp.id)">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="emp_number">Employee Number</label>
                      <input
                        type="text"
                        class="form-control"
                        id="emp_number"
                        placeholder="Enter Employee Number"
                        v-model="currentEmp.emp_number"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="first_name">First Name</label>
                      <input
                        class="form-control"
                        id="first_name"
                        placeholder="Enter First name"
                        v-model="currentEmp.first_name"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="second_name">Second Name</label>
                      <input
                        class="form-control"
                        id="second_name"
                        placeholder="Enter Second name"
                        v-model="currentEmp.second_name"
                        required="required" >
                    </div><div class="form-group">
                      <label for="bd">Birth Date</label>
                      <input
                        class="form-control datepicker"
                        id="bd"
                        placeholder="Enter BD"
                        v-model="currentEmp.birth_date"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="department">Department</label>
                      <select class="form-control" id="department" v-model="currentEmp.department">
                          <option v-for="d in depts" v-bind:value="d">${d.name} of ${d.project.name}</option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
          </div>
        </div>
       <div class="loading" v-if="loading===true">Loading...</div>
      </div>
      <!-- End of edit emp modal -->

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--  VueJS -->
    <!--         DEV -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--         PROD -->
    {#    <script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
    <!-- VueJS Resource - lib for Ajax calls (HTTP client) -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>



    <script defer>
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

        Vue.http.interceptors.push((request, next) => {
          request.headers.set('Authorization', 'Token {{ request.user.auth_token.key }}');
          request.headers.set('Accept', 'application/json');
          next()
        });

        var app = new Vue({
          el: "#app",
          delimiters: ["${", "}"],
          data: {
            emps: [],
            depts: [],
            loading: false,
            currentEmp: {},
            newEmp: {
              emp_number: "",
              first_name: "",
              second_name: "",
              birth_date: "",
              department: null,
            }
          },
          methods: {
            getEmps: function () {
              this.loading = true;
              this.$http.get("/api/employee/")
                .then((response) => {
                  this.emps = response.data;
                })
                .catch((err) => {
                  console.log(err);
                }).finally(()=>{
                  this.loading = false;
              })
            },
            getDepts: function () {
              this.loading = true;
              this.$http.get("/api/department/")
                .then((response) => {
                  this.depts = response.data;
                })
                .catch((err) => {
                  console.log(err);
                }).finally(()=>{
                  this.loading = false;
              })
            },
            addEmp: function() {
              this.loading = true;
              this.$http.post('/api/employee/', this.newEmp)
                  .then((response) => {
                    this.emps.push(response.data);
                  })
                  .catch((err) => {
                    console.log(err);
                  }).finally(()=>{
                    this.loading = false;
                    $('#addEmpModal').modal('hide');
              })
            },
            getEmp: function(emp) {
              this.currentEmp = Object.assign({}, emp);
              $('#editEmpModal').modal('show');
            },
            editEmp: function(emp_id) {
              this.loading = true;
              this.$http.put('/api/employee/' + emp_id + '/', this.currentEmp)
                  .then((response) => {
                    let idx = this.emps.findIndex(x => x.id === emp_id);
                    this.emps[idx] = response.data;
                  })
                  .catch((err) => {
                    console.log(err);
                  })
                  .finally(()=> {
                    this.loading = false;
                    $('#editEmpModal').modal('hide');
                  })
            },
            delEmp: function(emp) {
              this.loading = true;

              this.$http.delete('/api/employee/' + emp.id + "/")
                  .then((response) => {
                    this.emps.splice(this.emps.indexOf(emp), 1);
                  })
                  .catch((err) => {
                    console.log(err);
                  })
                  .finally(() => {
                    this.loading = false;
                  });
            },
          },
          mounted: function () {
            this.getEmps();
            this.getDepts();
            $('.modal-body input.datepicker').datepicker({
              format: 'yyyy-mm-dd'
            }).on('hide', function(event) {
              event.preventDefault();
              event.stopPropagation();
            });
          }
        })
    </script>







  </body>
</html>